In [ ]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import yfinance as yf


import math
import statistics
import random
from scipy.stats import skew

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.neighbors import NearestNeighbors

In [2]:
tickers = pd.read_excel(r"C:\Users\david\Desktop\дипломная\код\data\selected_companies.xlsx")
   
prices = pd.read_excel(r"C:\Users\david\Desktop\дипломная\код\data\data_prices.xlsx")

In [3]:
prices

,Date,A,AAL,AAP,AAPL,ABT,ACN,ADBE,ADI,ADM,...,TECH,TKO,TXRH,UTHR,WSO,WTRG,XYL,Brent,Gold,SP_500
0,2012-05-18,28.612303,10.23,68.150002,19.070000,29.877146,58.730000,32.099998,35.820000,32.270000,...,16.535000,8.240000,17.309999,41.639999,66.389999,17.808001,24.670000,107.139999,1591.599976,1295.219971
1,2012-05-21,27.775393,10.07,66.919998,19.089287,29.555679,57.889999,31.450001,35.060001,32.020000,...,16.827499,8.080000,17.719999,43.270000,68.889999,17.808001,25.340000,108.809998,1588.400024,1315.989990
2,2012-05-22,28.655222,10.75,68.980003,20.341070,29.651640,59.270000,31.969999,35.959999,32.209999,...,17.202499,8.030000,17.830000,42.720001,69.330002,17.992001,25.590000,108.410004,1576.300049,1316.630005
3,2012-05-23,28.633762,10.50,68.459999,19.910713,29.574871,58.509998,31.700001,34.250000,31.879999,...,17.222500,7.990000,17.990000,42.520000,70.980003,18.024000,25.790001,105.559998,1548.099976,1318.859985
4,2012-05-24,29.213161,11.19,72.339996,20.566786,29.550882,58.990002,32.169998,35.790001,32.020000,...,17.315001,8.030000,18.070000,42.669998,71.680000,18.464001,26.139999,106.550003,1557.300049,1320.680054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910,2024-01-22,131.500000,13.96,64.250000,192.300003,114.930000,364.000000,615.000000,196.000000,56.880001,...,72.019997,77.410004,121.440002,216.240005,408.829987,37.560001,113.379997,80.059998,2019.800049,4850.430176
2911,2024-01-23,133.639999,14.14,67.110001,195.020004,114.449997,367.359985,602.210022,197.139999,52.230000,...,72.480003,89.629997,121.790001,217.789993,397.220001,37.160000,113.760002,79.550003,2023.699951,4864.600098
2912,2024-01-24,132.410004,14.16,66.809998,195.419998,110.750000,371.000000,601.710022,200.860001,52.310001,...,71.059998,87.910004,122.739998,218.809998,387.309998,35.779999,111.699997,80.040001,2013.900024,4868.549805
2913,2024-01-25,131.110001,14.59,66.209999,195.220001,111.410004,372.380005,615.419983,202.000000,52.630001,...,71.120003,87.510002,122.970001,219.320007,388.369995,36.369999,112.980003,82.430000,2016.900024,4894.160156
2914,2024-01-26,133.710007,15.55,66.660004,194.270004,113.230003,371.920013,620.700012,195.320007,52.009998,...,72.629997,86.540001,122.820000,218.009995,383.510010,36.590000,112.389999,83.550003,2016.800049,4890.970215

In [4]:
prices = yf.download(prices.columns.tolist()[1:], start="2010-03-04", end="2024-04-20")["Close"]

[*********************100%%**********************]  460 of 460 completed

3 Failed downloads:
['BRENT', 'SP_500']: Exception('%ticker%: No timezone found, symbol may be delisted')
['PEAK']: Exception('%ticker%: No data found, symbol may be delisted')

In [5]:
#сделаем дату индексом 
#prices.set_index("Date", inplace=True)
prices

Ticker,A,AAL,AAP,AAPL,ABT,ACN,ADBE,ADI,ADM,ADP,...,WY,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2010-03-04,23.075823,7.32,41.779999,7.525357,25.947584,40.910000,34.939999,29.070000,30.000000,36.619843,...,42.529999,65.889999,21.059999,65.400002,33.849998,NaN,24.457226,57.067963,28.889999,18.080000
2010-03-05,23.719599,7.43,42.290001,7.819643,26.062737,41.180000,35.160000,29.500000,30.620001,37.910446,...,43.380001,67.739998,21.190001,66.470001,34.330002,NaN,25.068296,58.349514,28.980000,18.740000
2010-03-08,23.605150,7.32,42.099998,7.824286,26.110716,41.459999,35.060001,29.520000,30.570000,37.884109,...,43.590000,68.989998,21.150000,66.480003,34.290001,NaN,25.456507,57.815533,29.059999,18.930000
2010-03-09,23.798283,7.71,41.939999,7.965000,26.293039,42.060001,35.119999,29.250000,30.510000,38.340649,...,43.549999,69.769997,21.129999,66.779999,34.599998,NaN,26.312006,57.388351,29.090000,19.260000
2010-03-10,24.077253,7.94,42.130001,8.030000,26.403395,42.060001,35.150002,30.080000,30.240000,38.525021,...,43.000000,70.959999,21.110001,67.220001,34.669998,NaN,26.513300,57.145630,29.100000,20.490000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-15,140.220001,12.94,70.080002,172.690002,108.889999,313.269989,470.100006,190.289993,60.520000,244.080002,...,32.689999,99.440002,53.169998,119.680000,30.889999,127.290001,137.669998,124.000000,283.000000,40.410000
2024-04-16,136.800003,13.03,71.610001,169.380005,109.209999,313.940002,476.220001,191.229996,60.270000,244.210007,...,31.969999,99.349998,52.529999,118.690002,30.790001,128.000000,138.000000,122.070000,280.420013,39.500000
2024-04-17,134.550003,13.89,74.050003,168.000000,105.900002,314.540009,474.450012,189.429993,60.419998,242.899994,...,31.520000,97.480003,53.189999,118.629997,30.360001,126.220001,137.830002,121.300003,276.140015,39.360001
2024-04-18,132.440002,14.02,77.199997,167.039993,105.269997,316.000000,473.179993,187.580002,61.720001,241.990005,...,31.350000,96.099998,53.759998,118.519997,30.440001,127.160004,137.869995,119.330002,273.029999,39.240002
2024-04-19,132.729996,14.11,78.690002,165.000000,107.279999,316.880005,465.019989,183.360001,62.599998,243.309998,...,31.469999,94.989998,54.720001,119.879997,30.500000,127.839996,138.500000,119.430000,268.070007,39.919998

In [6]:
#корректировка тикеров
tickers = tickers.applymap(lambda x: x.split(".")[0] if isinstance(x, str) else x)

In [7]:
tickers = tickers.iloc[:, 1:]

In [45]:
#поиск значений которых нет в prices и их загрузка

#flatten преобразует массив в одномерный
values_for_dawnload = list(set(tickers.values.flatten().tolist()) - set(prices.columns))

for value_for_del in values_for_dawnload:
    if isinstance(value_for_del, float):
        values_for_dawnload.remove(value_for_del)
        break

In [46]:
values_for_dawnload

[]

In [90]:
#загрузка недостающих данных 
company_added = yf.download(values_for_dawnload, start="2010-03-04", end="2024-04-20")["Close"]

In [ ]:
cutoff_date = pd.Timestamp('2012-05-18')

#делаю срез до заданной даты
filtered_df = company_added[company_added.index >= cutoff_date]
#список удаленных компаний
removed_columns = []

#проходжу по всем столбцам и проверяю на наличие nan значений

for column in filtered_df.columns:
    if filtered_df[column].isna().any():
        removed_columns.append(column)
        company_added.drop(column, axis=1, inplace=True)
        
#очищаю до до cutoff_date
company_added.dropna(inplace=True)

In [94]:
#добавляю отсутствующие значения 

prices = pd.merge(prices, company_added, left_index=True, right_index=True)

In [8]:
#добавляем голду неть и спишку в prices 
tick_download = ["GC=F", "BZ=F", "^GSPC"]
data = yf.download(tick_download, start="2010-03-04", end="2024-04-20")["Close"]


#переименуем названия столбцов
data.rename(columns={"GC=F":"Gold",
                     "BZ=F":"Brent",
                     "^GSPC":"SP_500"}, inplace=True)

[*********************100%%**********************]  3 of 3 completed

In [9]:
data

Ticker          Brent         Gold       SP_500
Date
2010-03-04  78.540001  1132.599976  1122.969971
2010-03-05  79.889999  1134.800049  1138.699951
2010-03-08  80.470001  1123.599976  1138.500000
2010-03-09  79.910004  1122.000000  1140.449951
2010-03-10  80.480003  1107.800049  1145.609985
...               ...          ...          ...
2024-04-15  90.099998  2365.800049  5061.819824
2024-04-16  90.019997  2390.800049  5051.410156
2024-04-17  87.290001  2371.699951  5022.209961
2024-04-18  87.110001  2382.300049  5011.120117
2024-04-19  87.290001  2398.399902  4967.229980

[3558 rows x 3 columns]

In [10]:
#обьединяем фреймы

prices = pd.merge(prices, data, left_index=True, right_index=True)

#удаляю Nan вэлью
#prices.dropna(inplace=True)

In [11]:
prices

Ticker,A,AAL,AAP,AAPL,ABT,ACN,ADBE,ADI,ADM,ADP,...,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,Brent,Gold,SP_500_y
Date,,,,,,,,,,,,,,,,,,,,,
2010-03-04,23.075823,7.32,41.779999,7.525357,25.947584,40.910000,34.939999,29.070000,30.000000,36.619843,...,65.400002,33.849998,NaN,24.457226,57.067963,28.889999,18.080000,78.540001,1132.599976,1122.969971
2010-03-05,23.719599,7.43,42.290001,7.819643,26.062737,41.180000,35.160000,29.500000,30.620001,37.910446,...,66.470001,34.330002,NaN,25.068296,58.349514,28.980000,18.740000,79.889999,1134.800049,1138.699951
2010-03-08,23.605150,7.32,42.099998,7.824286,26.110716,41.459999,35.060001,29.520000,30.570000,37.884109,...,66.480003,34.290001,NaN,25.456507,57.815533,29.059999,18.930000,80.470001,1123.599976,1138.500000
2010-03-09,23.798283,7.71,41.939999,7.965000,26.293039,42.060001,35.119999,29.250000,30.510000,38.340649,...,66.779999,34.599998,NaN,26.312006,57.388351,29.090000,19.260000,79.910004,1122.000000,1140.449951
2010-03-10,24.077253,7.94,42.130001,8.030000,26.403395,42.060001,35.150002,30.080000,30.240000,38.525021,...,67.220001,34.669998,NaN,26.513300,57.145630,29.100000,20.490000,80.480003,1107.800049,1145.609985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-15,140.220001,12.94,70.080002,172.690002,108.889999,313.269989,470.100006,190.289993,60.520000,244.080002,...,119.680000,30.889999,127.290001,137.669998,124.000000,283.000000,40.410000,90.099998,2365.800049,5061.819824
2024-04-16,136.800003,13.03,71.610001,169.380005,109.209999,313.940002,476.220001,191.229996,60.270000,244.210007,...,118.690002,30.790001,128.000000,138.000000,122.070000,280.420013,39.500000,90.019997,2390.800049,5051.410156
2024-04-17,134.550003,13.89,74.050003,168.000000,105.900002,314.540009,474.450012,189.429993,60.419998,242.899994,...,118.629997,30.360001,126.220001,137.830002,121.300003,276.140015,39.360001,87.290001,2371.699951,5022.209961
2024-04-18,132.440002,14.02,77.199997,167.039993,105.269997,316.000000,473.179993,187.580002,61.720001,241.990005,...,118.519997,30.440001,127.160004,137.869995,119.330002,273.029999,39.240002,87.110001,2382.300049,5011.120117
2024-04-19,132.729996,14.11,78.690002,165.000000,107.279999,316.880005,465.019989,183.360001,62.599998,243.309998,...,119.879997,30.500000,127.839996,138.500000,119.430000,268.070007,39.919998,87.290001,2398.399902,4967.229980

In [12]:
#удаляю в тикерах значения которые не прошли проверку

#tickers.replace(removed_columns, np.nan, inplace=True)

In [13]:
#сохраняю копию чтобы не прогружать все вышенаписанное заново 
prices_1 = prices.copy()

In [14]:
prices

Ticker,A,AAL,AAP,AAPL,ABT,ACN,ADBE,ADI,ADM,ADP,...,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,Brent,Gold,SP_500_y
Date,,,,,,,,,,,,,,,,,,,,,
2010-03-04,23.075823,7.32,41.779999,7.525357,25.947584,40.910000,34.939999,29.070000,30.000000,36.619843,...,65.400002,33.849998,NaN,24.457226,57.067963,28.889999,18.080000,78.540001,1132.599976,1122.969971
2010-03-05,23.719599,7.43,42.290001,7.819643,26.062737,41.180000,35.160000,29.500000,30.620001,37.910446,...,66.470001,34.330002,NaN,25.068296,58.349514,28.980000,18.740000,79.889999,1134.800049,1138.699951
2010-03-08,23.605150,7.32,42.099998,7.824286,26.110716,41.459999,35.060001,29.520000,30.570000,37.884109,...,66.480003,34.290001,NaN,25.456507,57.815533,29.059999,18.930000,80.470001,1123.599976,1138.500000
2010-03-09,23.798283,7.71,41.939999,7.965000,26.293039,42.060001,35.119999,29.250000,30.510000,38.340649,...,66.779999,34.599998,NaN,26.312006,57.388351,29.090000,19.260000,79.910004,1122.000000,1140.449951
2010-03-10,24.077253,7.94,42.130001,8.030000,26.403395,42.060001,35.150002,30.080000,30.240000,38.525021,...,67.220001,34.669998,NaN,26.513300,57.145630,29.100000,20.490000,80.480003,1107.800049,1145.609985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-15,140.220001,12.94,70.080002,172.690002,108.889999,313.269989,470.100006,190.289993,60.520000,244.080002,...,119.680000,30.889999,127.290001,137.669998,124.000000,283.000000,40.410000,90.099998,2365.800049,5061.819824
2024-04-16,136.800003,13.03,71.610001,169.380005,109.209999,313.940002,476.220001,191.229996,60.270000,244.210007,...,118.690002,30.790001,128.000000,138.000000,122.070000,280.420013,39.500000,90.019997,2390.800049,5051.410156
2024-04-17,134.550003,13.89,74.050003,168.000000,105.900002,314.540009,474.450012,189.429993,60.419998,242.899994,...,118.629997,30.360001,126.220001,137.830002,121.300003,276.140015,39.360001,87.290001,2371.699951,5022.209961
2024-04-18,132.440002,14.02,77.199997,167.039993,105.269997,316.000000,473.179993,187.580002,61.720001,241.990005,...,118.519997,30.440001,127.160004,137.869995,119.330002,273.029999,39.240002,87.110001,2382.300049,5011.120117
2024-04-19,132.729996,14.11,78.690002,165.000000,107.279999,316.880005,465.019989,183.360001,62.599998,243.309998,...,119.879997,30.500000,127.839996,138.500000,119.430000,268.070007,39.919998,87.290001,2398.399902,4967.229980

In [21]:
#даты ребалансировки 
data_rebalance = [("2015-01-10", "2015-06-15"),
                 ("2016-01-10", "2016-06-15"),
                 ("2017-01-10", "2017-06-15"),
                 ("2018-01-10", "2018-06-15"),
                 ("2019-01-10", "2019-06-15"),
                 ("2020-01-10", "2020-06-15"),
                 ("2021-01-10", "2021-06-15"),
                 ("2022-01-10", "2022-06-15"),
                 ("2023-01-10", "2023-06-15")]

#обновляю даты на существющие в prices_1
new_data_rebalance = []
for start_date, end_date in data_rebalance:
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    #получаю ближайшие даты из индекса prices_1
    nearest_start_date = get_nearest_date(start_date, prices_1.index)
    nearest_end_date = get_nearest_date(end_date, prices_1.index)
    #обновляю список
    new_data_rebalance.append((nearest_start_date, nearest_end_date))

C:\Users\david\AppData\Local\Temp\ipykernel_4460\2172020849.py:3: FutureWarning: Passing method to DatetimeIndex.get_loc is deprecated and will raise in a future version. Use index.get_indexer([item], method=...) instead.
  nearest_date_index = date_index.get_loc(target_date, method='nearest')

In [22]:
#получение лага для прогноза
predict_days = (new_data_rebalance[0][1] - new_data_rebalance[0][0]).days

In [23]:
predict_days

157

# Функции

In [31]:
#ДОБАВЛЕНИЕ RSI

def calculate_rsi(data, column_name, period=14):
    #расчет изм цен
    delta = data[column_name].diff()
    # Отделяю приросты и падения
    gains = (delta.where(delta > 0, 0)).fillna(0)
    losses = (-delta.where(delta < 0, 0)).fillna(0)
    # считаю экспоненциальное скользящее среднее для приростов и падений
    avg_gain = gains.ewm(com=period - 1, min_periods=period).mean()
    avg_loss = losses.ewm(com=period - 1, min_periods=period).mean()

    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))
    
    return rsi

In [32]:
#расчет скользящего СО и корреляции доходности

def calculate_rolling_stats(data, columns, main, window=30):
    
    results = pd.DataFrame(index=data.index)
    
    # Скользящее стандартное отклонение для каждого столбца
    for column in columns:
        results[f'{column.split("_")[0]}_rolling_std'] = data[column].rolling(window=window).std()
    
    # Скользящие корреляции между парами столбцов
    for column in columns:
        if column == main:
            continue    
        col_name = f'{main.split("_")[0]}_{column.split("_")[0]}_rolling_corr'
        results[col_name] = data[main].rolling(window=window).corr(data[column])
            
    return results

In [33]:
#функция для создание окна
def create_rolling_windows(data, window_size):
    """
    X (list of np.array): Список окон, где каждое окно содержит данные из 'window_size' последовательных строк.
    """
    
    X = []
    
    for start in range(len(data) - window_size + 1):
        end = start + window_size
        window = data.iloc[start:end]
        X.append(window.values)
    
    return X

In [34]:
def choose_metric(data, threshold=0.5):
    # Вычисляем асимметрию
    skewness = skew(data)
    # Сравниваем абсолютное значение асимметрии с порогом
    if abs(skewness) > threshold:
        # Асимметрия сильно отличается от нормального распределения
        median_value = np.median(data)
        #print("Асимметрия велика, используем медиану:", median_value)
        return median_value
    else:
        # Асимметрия близка к нормальному распределению
        mean_value = np.mean(data)
        #print("Асимметрия мала, используем среднее:", mean_value)
        return mean_value

In [35]:
def get_nearest_date(target_date, date_index):
    #нахожу индекс блиашей даты
    nearest_date_index = date_index.get_loc(target_date, method='nearest')
    return date_index[nearest_date_index]

In [36]:
#НЕОБХОДИМЫЕ СПИСКИ И ОБЬЕКТЫ

In [37]:
roll_RSI = [20, 50, 80, 110, 130]
roll_return = [10, 20, 40, 60, 80, 100]
window_sizes_std_corr = [10, 30, 40, 60, 80, 120]

In [38]:
#создаем обьекты для стандартизации наших данных 
#каждый обеькт предназначен определенной переменной

scaler_RSI = StandardScaler()
scaler_return = StandardScaler()
scaler_std = StandardScaler()
scaler_corr = StandardScaler()


# создаю обьект для сжатия данных до 2 компонент
pca = PCA(n_components=2)


#создаю обьект NearestNeighbors
knn = NearestNeighbors(n_neighbors=300, algorithm='auto')

In [39]:
all_data = dict()

In [ ]:
#прохожу по КАЖДОМУ ГОДУ
for numeric_year, year in enumerate(tickers.columns[1:]):
    #проходу по каждой компании (для предсказания) не рассматривая non значения
    #список содержит значения зря рассматриваемого года по каждому активу
    one_year_data = []
    print(year)
    for main_name in tickers[year][tickers[year].notna()]:
        print(main_name)
        #оттбираю компании которые демонтсрируют "сильную" корреляцию
        
        indicators_factors = []
        #не рассматриваю голд нефть и спишку (они в любом случае добавятся)
        for i in prices_1.columns.tolist()[:-3]:
            #ищу "сильно" коррелированные активы
            if prices_1[main_name].corr(prices_1[i]) > 0.6 or prices_1[main_name].corr(prices_1[i]) < 0.6:
                indicators_factors.append(i)
                
        #выбираю случайно индикатоыр команий сильно коррелированных с main_name
        if len(indicators_factors) < 12:
            indicators_sample = indicators_factors
        else:
            indicators_sample = random.sample(indicators_factors, 12)
            
        #проверка наличия рассматриваемой бумаги в списке 
        
        if main_name not in indicators_sample:
            indicators_sample.append(main_name)
            
        #добавляю голд и нефть и голд
        for g_o_s in prices_1.columns[-3:].tolist():
            if g_o_s in indicators_sample:
                continue
            else:
                indicators_sample.append(g_o_s)
        
        
        #беру котировки отобранных компаний
        data_selected = prices_1[indicators_sample]
        data_selected_1 = data_selected.copy()
        
        #ДОБАВЛЯЮ ПРИЗНАКИ
        
        #добавляю RSI с разными лагами
        for column_RSI in data_selected_1.columns:
            for period_rsi in roll_RSI:
                rsi_series = calculate_rsi(data_selected, column_RSI, period_rsi)
                new_column_name = f'{column_RSI}_RSI_{period_rsi}'
                data_selected[new_column_name] = rsi_series

        #удаляю пропуски
        data_selected.dropna(inplace=True)
        
        #расчет доходностей
        daily_returns = data_selected[[col for col in data_selected.columns if "_RSI" not in col]].pct_change()
        daily_returns.dropna(inplace=True)
        
        #log доходность
        log_returns = np.log(1 + daily_returns)
        new_data = data_selected.copy()

        for returns_roll in roll_return:
            #считаю доходность за период returns_roll
            rolling_returns = np.exp(log_returns.rolling(window=returns_roll).sum()) - 1

            #переименуем столбцы
            rename_dict = {col_roll: f"{col_roll}_return_{returns_roll}" for col_roll in rolling_returns.columns}
            rolling_returns.rename(columns=rename_dict, inplace=True)

            # добавялю к основной таблице доходности
            new_data = pd.concat([new_data, rolling_returns], axis=1)
            new_data.dropna(inplace=True)
            
        #расчет скользящего СО и корреляции доходности
        columns_to_analyze = [_retur for _retur in new_data.columns if "_retur" in _retur]

        for window in window_sizes_std_corr:
            rolling_stats = calculate_rolling_stats(new_data, columns_to_analyze, main_name, window=window)

            #переименую столцбы чтобы отражали размер окна
            rolling_stats = rolling_stats.rename(columns=lambda x: f"{x}_{window}")
            #обьединяю скользящую стат с исход данными
            new_data = pd.concat([new_data, rolling_stats], axis=1)

        #удаляю пропуски
        new_data.dropna(inplace=True)
        
        
        #подготовка данных к методу ближайших соседей 
        data_neighbor = new_data.copy()
        
        #переворачиваем табл

        data_neighbor = data_neighbor.reindex(index=data_neighbor.index[::-1])
        
        #сортирую признаки чтобы применить разные обьекты стандартизации
        rsi_columns = [_RSI for _RSI in data_neighbor.columns if "_RSI" in _RSI]
        return_columns = [_return for _return in data_neighbor.columns if "_return" in _return]
        std_columns = [_rolling_std for _rolling_std in data_neighbor.columns if "_rolling_std" in _rolling_std]
        corr_columns = [_rolling_corr for _rolling_corr in data_neighbor.columns if "_rolling_corr" in _rolling_corr]
        
        
        #Нормализованный фрейм
        new_data_scaler = pd.DataFrame(index=data_neighbor.index)

        new_data_scaler[rsi_columns] = scaler_RSI.fit_transform(data_neighbor[rsi_columns])
        new_data_scaler[return_columns] = scaler_return.fit_transform(data_neighbor[return_columns])
        new_data_scaler[std_columns] = scaler_std.fit_transform(data_neighbor[std_columns])
        new_data_scaler[corr_columns] = scaler_corr.fit_transform(data_neighbor[corr_columns])
        
        #создаю наблюдения  в виде окон  
        window_data = create_rolling_windows(new_data_scaler, 100)
        data_matrix = np.array(window_data)
        data_matrix = data_matrix.reshape(-1, data_matrix.shape[1]*data_matrix.shape[2])
        
        #уменьшаю размерность
        reduced_data = pca.fit_transform(data_matrix)
        #обучаем модель
        knn.fit(reduced_data)
        
        #получаю средние для каждой даты ребалансировки в рамках одного года для конкретного актива
        #в local_mean_asset будет два кортежа с в каждой из которых будет:
        #дата, mean_predict, std_predict, mean_fact
        
        local_mean_asset = []
        
        for local_data_rebalace in new_data_rebalance[numeric_year]:    
            #нахожу нумерацию строки в  data_neighbor по дате
            local_data_index = data_neighbor.index.get_loc(local_data_rebalace)
            #формирую рассматриваемый день
            y = reduced_data[local_data_index].reshape(1, -1)
            #поулчаю расстояния и индексы похожих дней 
            distances, indices = knn.kneighbors(y)
            
            #ПРОГНОЗ СРЕДНЕЙ ПО ПОЛУЧЕННЫМ ИНДЕКСАМ
            #не рассматриваю ближашие индексы
            global_distribytion = []
            
            for idx in indices.tolist()[0][15:150]:
                #находу тек цену
                current_price = data_neighbor.iloc[:, :len(data_selected_1.columns)][main_name][idx]
                #беру дату текущей цены
                current_index = data_neighbor.iloc[:, :len(data_selected_1.columns)][main_name].index[idx]
                #беру лаг от текущего индекса
                future_index = current_index + pd.DateOffset(days = predict_days)
                # Определяем диапазон дат: от future_index - X дней до future_index + X дней
                #беру разные лаги (в отриц сторону больше) чтобы не переоценить доходнотсь и недооценить риски
                date_range = pd.date_range(start=future_index - pd.DateOffset(days=15), end=future_index + pd.DateOffset(days=20))
                # фильтрую, чтобы сохранять только те даты, которые существуют в индексе
                existing_dates = date_range[date_range.isin(data_neighbor.index)]
                #считаю доходности
                local_distribution = list((data_neighbor.loc[existing_dates, main_name] / current_price)-1)
                global_distribytion.append(local_distribution)
            #обьединяю все доходности
            distrib = [g for glob_i in global_distribytion for g in glob_i]
            #вычисляю среднее с учетом асимметрии
            mean_predict = choose_metric(distrib)
            std_predict = np.std(distrib)
            
            #для проверки нахожу фактичекую доходность
            #цена на тек
            
            local_price_fact = data_neighbor.iloc[local_data_index, :][main_name]
            #print("local_price_fact", local_price_fact)
            #дуюущие цены (факт)
            #нахожу индекс столбца по имени
            index_considered_company = data_neighbor.columns.get_loc(main_name)
            #print("index_considered_company", index_considered_company)
            future_prices_fact = data_neighbor.iloc[local_data_index - predict_days:local_data_index - predict_days + 10, index_considered_company]
            #print("future_prices_fact", future_prices_fact)
            mean_fact = np.mean((future_prices_fact / local_price_fact)-1)
            #print("mean_fact", mean_fact)
            #добавляю дату mean_predict, std_predict, mean_fact
            #просто среднее значение доходностей ( беру за последний год)
            #цена на тек 
            defolt_mean = data_neighbor.iloc[local_data_index:local_data_index + 365, :][main_name].pct_change(-147)
            defolt_mean.dropna(inplace = True)
            defolt_std = np.std(list(defolt_mean))
            defolt_mean = np.mean(list(defolt_mean))
            
            local_mean_asset.append((local_data_rebalace, mean_predict, std_predict, mean_fact, defolt_mean, defolt_std))
            #print("local_mean_asset", local_mean_asset)
            #добавляю всю информацию по рассматриваемой компании (два кортежа для ребалансировок за год)
        one_year_data.append((main_name, local_mean_asset))
        #print("one_year_data", one_year_data)
    
            
    all_data[year] = one_year_data

In [41]:
all_data.keys()

dict_keys(['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'])

In [42]:
 #дата, mean_predict, std_predict, mean_fact

In [43]:
#преобразование данных в фреймовский формат 

rows = []

for year, company_data in all_data.items():
    for company, records in company_data:
        for record in records:
            date, value1, value2, value3, value4, value5 = record
            rows.append({
                "Year": year,
                "Company": company,
                "Date": date,
                "mean_predict": value1,
                "std_predict": value2,
                "mean_fact": value3,
                "mean_defolt": value4,
                "std_defolt": value5
            })
            
df = pd.DataFrame(rows)

In [167]:
from sklearn.metrics import mean_absolute_error

In [170]:
y_pred = stat_calcul['mean_predict']
y_true = stat_calcul['mean_fact']

mae = mean_absolute_error(y_true, y_pred)
mae

0.11984655525485378

In [172]:
y_pred_2 = stat_calcul['mean_defolt']
y_true_2 = stat_calcul['mean_fact']

mae_2 = mean_absolute_error(y_true_2, y_pred_2)
mae_2

0.18773027192369718

In [44]:
df.to_excel(r"C:\Users\david\Desktop\дипломная\код\data\all_mean_neighbors.xlsx")